asgiref==3.5.2
Django==3.2.15
django-cors-headers==3.13.0
django-multiselectfield==0.1.12
django-rest-framework==0.1.0
django-select-multiple-field==0.4.2
django-taggit==3.0.0
djangorestframework==3.14.0
gunicorn==20.1.0
pytz==2022.6
sqlparse==0.4.3
tzdata==2022.6
django-cors-middleware